@media only screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1)
{
	.testimonial{
		position: relative;
		left: 25%;
		margin-right: 10%;
	}

	div#slider figure{
		position: absolute;
	}
	a{
		font-size:156%
	}
	#testimoniaux{
		height: 1150px;
	}
	.text{
		width: 50%;
		font-size: 127%;
		text-align: left;
		position: relative;
		left: 25%;
	}

	#text{
		height: 1735px;
	}
	#map{
		width: 80%;
		height: 275px;
		position: relative;
		left: 5%;
		margin-left: 40px;
	}
	#maps{
		height: 540px;
	}
	#floating-panel{
		background-color: #EAEAEA ;
		border:1px solid #555555;
		box-shadow:  4px 4px 18px 2px rgba(0,0,0,0.75);
		margin: auto;
		position: relative;
		left: 32%;
	}
}