/* DESKTOP MEDIA QUERY */ 





header{
	margin: auto;
	width: 100%;
  height: 120px;

}

header nav h1 {
  margin-left: 25px;
}

.container{
	width: 80%;
}

.emptybg{
	background: none;
	border:none;
}
.form-signin{
  margin-top: 150px;
}
.form-signin input{
  text-align: center;
  margin-bottom: 20px;
}
.form-signin h2{
  text-align: center;
}





#testimoniaux{
	/*height: 360px;*/
	width: 100%;
  height: 450px;
	background: rgba(250,242,240,1);
  background: -moz-linear-gradient(top, rgba(250,242,240,1) 0%, rgba(235,233,232,0.99) 24%, rgba(196,196,196,0.97) 54%, rgba(245,245,245,0.96) 76%, rgba(250,247,247,0.95) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,242,240,1)), color-stop(24%, rgba(235,233,232,0.99)), color-stop(54%, rgba(196,196,196,0.97)), color-stop(76%, rgba(245,245,245,0.96)), color-stop(100%, rgba(250,247,247,0.95)));
  background: -webkit-linear-gradient(top, rgba(250,242,240,1) 0%, rgba(235,233,232,0.99) 24%, rgba(196,196,196,0.97) 54%, rgba(245,245,245,0.96) 76%, rgba(250,247,247,0.95) 100%);
  background: -o-linear-gradient(top, rgba(250,242,240,1) 0%, rgba(235,233,232,0.99) 24%, rgba(196,196,196,0.97) 54%, rgba(245,245,245,0.96) 76%, rgba(250,247,247,0.95) 100%);
  background: -ms-linear-gradient(top, rgba(250,242,240,1) 0%, rgba(235,233,232,0.99) 24%, rgba(196,196,196,0.97) 54%, rgba(245,245,245,0.96) 76%, rgba(250,247,247,0.95) 100%);
  background: linear-gradient(to bottom, rgba(250,242,240,1) 0%, rgba(235,233,232,0.99) 24%, rgba(196,196,196,0.97) 54%, rgba(245,245,245,0.96) 76%, rgba(250,247,247,0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2f0', endColorstr='#faf7f7', GradientType=0 );
  }

.Testimonial{
  margin: auto;
}

#text{
  width: 100%;
  height: 560px;
  background: #408ff4;
  margin: auto;
  text-align: center;
}
/* BACKEND STYLE */
#backheader{
  margin-top: 300px;
  width: 100%;
  height: 150px;
  background: #9bdbf4;
  margin:auto;
}

#backheader li{
  float: left;
  margin: auto;
}

#backheader a{
  text-decoration: none;
 
}

#backsoundcloud{
  width: 100%;
  height: 150px;
  background: #FD710A;
}

#backsoundcloud input:first-of-type {
  width: 250px;
  margin-left: 50px;
}
#titlepopup{
  margin: auto;
}

#titlepopup span {
  font-weight: bold;
}

#regandlog{
  padding-top: 75px;
  border-radius: 25px;
  margin: auto;
  width: 550px;
  height: 450px;
  background: #CECACA;
}

#reg{
  margin: auto;
  width: 450px;
}

#reg input{
  width: 450px;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
}

#input-group{
  width: 300px;
}

#testimoniauxback{
  border: 3px dashed #04325a;
  width: 100%;
  height: 200px;
  text-decoration: none;
  text-align: center;
}

#testimoniauxback a{
  margin: 20px;
}

#sound{
  width: 100%;
  height: 300px;
  background: #CBCBCB;
}
/* Slider */ 

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

body {
  margin: 0;
}

div#slider {
  overflow: hidden;
  height: 400px;
}

div#slider figure img {
  width: 20%;
  height: 400px;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}



/* CSS Library */ 


.describ{
  margin: auto;
  text-align: center;
  width: 300px;
  height: 200px;
  font-family: verdana;
  color: white;
}

#homefooter{
  width: 100%;
  height: 100px;
  background: #3E3E3E;
  border-top: 2px solid #D0CECE;
  color: white;
  text-align: center;
}

.input .control { width: 160px; float: left; margin-right: 15px; text-align: center; }

.input .controls_container {
  margin-bottom: 25px;
}

.control .controller { height: 50px; margin: 15px auto; }
#angle_slider { background-color: #639DBC; height: 50px; width: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius:    25px;
  border-radius:         25px;
  -moz-box-shadow:    1px 1px 1px #333333;
  -webkit-box-shadow: 1px 1px 1px #333333;
  box-shadow:         1px 1px 1px #333333;
  cursor: pointer;
  color: #DDD;
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 



====== "Hinge" close effect ======

*/
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}
.hinge {
  animation-duration: 1s;
  animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/* preview styles */
html {
  font-family: "Calibri", "Trebuchet MS", "Helvetica", sans-serif;
}

h3 {
  margin-top: 0;
  font-size: 24px;
}

a,
a:visited {
  color: #1760bf;
  text-decoration: none;
}

a:hover {
  color: #408ff4;
  cursor: pointer;
}

.links li {
  margin-bottom: 5px;
}

h4 {
  margin: 24px 0 0 0;
}

.bottom-text {
  margin-top: 40px;
  border-top: 2px solid #CCC;
}
.bottom-text a {
  border-bottom: 1px solid #CCC;
}
.bottom-text p {
  max-width: 650px;
}

#blockquote{
  padding-top: 20px;
  width: 100%;
  height: 75px;
  text-align: center;
  font-family: verdana;
  color: #04325a;

}

 /* The Gallery container */
#gallery{
  width:100%;
  min-height: 100%;
}
.containergal{
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}
#carousel{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}
#carousel:hover{
  animation-play-state: paused;
}
#carousel figure{
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  background: black;
  overflow: hidden;
  border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}



img{
  -webkit-filter: grayscale(0);
  cursor: pointer;
  transition: all .5s ease;
}
img:hover{
  -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

 .sliding{
  cursor: pointer;
  transition: all .5s ease;
}
.sliding:hover{
  -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}
@keyframes rotation{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

#textback{
  height: 25px;
  width: 100%;
  border: 3px dashed #04325a;
  border-bottom: none;
}

#mapsback{
  height: 450px;
  width: 100%;
   border: 3px dashed #04325a;
  border-bottom: none;
}
#panelback{
  margin-top: 120px;
  margin-left: 50px;
  float: left;
  width: 400px;
  height: 100px;
}
#sliderback{
  width: 100%;
  height: 400px;
  text-decoration: none;
  text-align: center;
  border: 3px dashed #04325a;
  border-bottom: none;

}

#sliderback img{
  margin: 2em;
}

#galeryback{
  width: 100%;
  height: 600px;
  text-decoration: none;
  text-align: center;
  border: 3px dashed #04325a;
  border-bottom: none;

}

#galeryback img{
  margin: 2em;
}

#emailback{
  width: 100%;
  height: 150px;
  border: 3px dashed #04325a;
  border-bottom: none;
}
.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color:#599bb3;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color:#408c99;
}
.myButton:active {
  position:relative;
  top:1px;
}


#sliderback a {
  text-decoration: none;
  margin: 20px;
  margin-top: 75px;
}

#galleryback{
  width:100%;
  height: 450px;
  background:  url(../imgs/gallery/wood_bg.jpg);
}


@import url(http://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
*:before,
*:after{
  box-sizing: border-box;
}


 
/* END OF The Gallery container */

#loginform{
  width: 50%;
}
 
#text{
  padding-top: 50px;
  width: 100%;
 /* height: 860px;*/
  background: #408ff4;
}
 
#texthome{
  padding-top: 50px;
  text-align: center;
  width: 100%;
  height: 860px;
  background: #408ff4;
}
#backheader{
  padding: 20px;
  width: 100%;
  height: 30px;
  background: #9bdbf4;
}
#backheader a{
  text-decoration: none;
  margin-left: 20px;
 
}
 
/* CSS Library */
 
 
 
/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

/* ====== Form ====== */

#maps form{
  
  background-color:#E4E4E4; 
  display: inline-block;
}

/* ====== Maps ====== */
#maps{
  height: 450px;
  width: 100%;
  background: #EEE364;

}

#map{
  height: 400px;
  width: 40%;
  margin: 20px;
  border-radius: 20px;
  float: left;

  
}

#floating-panel{
  background-color: #D6D6D6;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;

}


#adressActu{

  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display:inline-block;
}

#adresspage{
 
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display:inline-block;


/*

=====Formatting popup Testimonial=====

*/
form{
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px dotted #CCC;
}
form.selectAvatar input[type="file"]{
  margin-top: 5px;
  color: white;
  background-color: #39C7B7;
  border-radius: 10px;
  border-style: none;
  width: 8em;
  height: 2em;
}
form.selectAvatar input[type="file"]:hover{
  background-color: #54C7A1;  
  box-shadow: 5px 5px 30px 0px #CCCCCC;
}




form.testitext input[type="submit"]{
  margin-top: 5px;
  color: white;
  background-color: #39C7B7;
  border-radius: 10px;
  border-style: none;
  width: 8em;
  height: 2em;
}
form.testitext input[type="submit"]:hover{
  background-color: #54C7A1;  
  box-shadow: 5px 5px 30px 0px #CCCCCC;
}


input[type="submit"]{
  margin-top: 5px;
  color: white;
  background-color: #54C739;
  border-radius: 10px;
  border-style: none;
  width: 8em;
  height: 2em;
}
input[type="submit"]:hover{
  background-color: #54C739;  
  box-shadow: 5px 5px 30px 0px #CCCCCC;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);

}

@media screen and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
{
 #testimoniaux{
 display: none;
} 
}