h1{
	text-transform: uppercase;
}

header{
	margin: auto;
	width: 100%;
  height: 120px;

}

header nav h1 {
  margin-left: 25px;
}

.container{
	width: 1360px;
}

.emptybg{
	background: none;
	border:none;
}
.form-signin{
  margin-top: 150px;
}
.form-signin input{
  text-align: center;
  margin-bottom: 20px;
}
.form-signin h2{
  text-align: center;
}

#loginform{
  width: 50%;
}

#testimoniaux{
	/*height: 360px;*/
	width: 100%;
	background: #8464EE;
}

#text{
  width: 100%;
  height: 860px;
  background: #408ff4;
}

#backheader{
  padding: 20px;
  width: 100%;
  height: 30px;
  background: #9bdbf4;
  margin:auto;
}
#backheader a{
  text-decoration: none;
  margin-left: 20px;
 
}
#titlepopup{
  margin: auto;
}

#titlepopup span {
  font-weight: bold;
}
/* CSS Library */ 

.input .control { width: 160px; float: left; margin-right: 15px; text-align: center; }

.input .controls_container {
  margin-bottom: 25px;
}

.control .controller { height: 50px; margin: 15px auto; }
#angle_slider { background-color: #639DBC; height: 50px; width: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius:    25px;
  border-radius:         25px;
  -moz-box-shadow:    1px 1px 1px #333333;
  -webkit-box-shadow: 1px 1px 1px #333333;
  box-shadow:         1px 1px 1px #333333;
  cursor: pointer;
  color: #DDD;
}
#ts_angle_slider { background-color: #639DBC; height: 50px; width: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius:    25px;
  border-radius:         25px;
  -moz-box-shadow:    1px 1px 1px #333333;
  -webkit-box-shadow: 1px 1px 1px #333333;
  box-shadow:         1px 1px 1px #333333;
  cursor: pointer;
  colour: #ddd;
}
#bs_angle_slider { background-color: #639DBC; height: 50px; width: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius:    25px;
  border-radius:         25px;
  -moz-box-shadow:    1px 1px 1px #333333;
  -webkit-box-shadow: 1px 1px 1px #333333;
  box-shadow:         1px 1px 1px #333333;
  cursor: pointer;
}



.slider_container { background-color: #639DBC; border: 1px solid #444444; display: block; height: 9px; margin: auto; position: relative; top: 20px; width: 75%;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
  -moz-box-shadow:    1px 1px 1px #555;
  -webkit-box-shadow: 1px 1px 1px #555;
  box-shadow:         1px 1px 1px #5;
}
.nth_slider { top: 2px; }
.slider_label { float: left; line-height: 15px; padding-top: 3px; position: relative; top: -4px; }
.slider_button { background-color: #DDDDDD; cursor: pointer; display: block; height: 9px; margin-left: 15px; width: 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 



====== "Hinge" close effect ======

*/
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}
.hinge {
  animation-duration: 1s;
  animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/* preview styles */
html {
  font-family: "Calibri", "Trebuchet MS", "Helvetica", sans-serif;
}

h3 {
  margin-top: 0;
  font-size: 24px;
}

a,
a:visited {
  color: #1760bf;
  text-decoration: none;
}

a:hover {
  color: #408ff4;
  cursor: pointer;
}

.links li {
  margin-bottom: 5px;
}

h4 {
  margin: 24px 0 0 0;
}

.bottom-text {
  margin-top: 40px;
  border-top: 2px solid #CCC;
}
.bottom-text a {
  border-bottom: 1px solid #CCC;
}
.bottom-text p {
  max-width: 650px;
}

<<<<<<< HEAD
#gallery{
  /* The pics container */
 
  width:100%;
  position:relative;
  height: 450px;
  background: url("https://michelelie.files.wordpress.com/2013/10/3097-mur-en-bois-wallfizz.jpg");
 
}

#galleryback{
    width:100%;
  position:relative;
  height: 450px;
}
 
.pic, .pic a{
  /* Each picture and the hyperlink inside it */
  width:100px;
  height:100px;
  overflow:hidden;
}
 
.pic{
  /* Styles specific to the pic class */
  position:absolute;
  border:5px solid #EEEEEE;
  border-bottom:18px solid #eeeeee;
  /* CSS3 Box Shadow */
  -moz-box-shadow:2px 2px 3px #333333;
  -webkit-box-shadow:2px 2px 3px #333333;
  box-shadow:2px 2px 3px #333333;
}
 
.pic a{
  /* Specific styles for the hyperlinks */
  text-indent:-999px;
  display:block;
  /* Setting display to block enables advanced styling for links */
}
 
.drop-box{
  /* The share box */
  width:240px;
  height:130px;
  position:absolute;
  bottom:0;
  right:0;
  z-index:0;
 
  background:url(img/drop_box.png) no-repeat;
}
 
.drop-box.active{
  /* The active style is in effect when there is a pic hovering above the box */
  background-position:bottom left;
}
 
label, input{
  /* The modal dialog URL field */
  display:block;
  padding:3px;
}
 
label{
  font-size:10px;
}
 
fieldset{
  border:0;
  margin-top:10px;
}
 
#url{
  /* The URL field */
  width:240px;
}
#loginform{
  width: 50%;
}
 
#testimoniaux{
  height: 450px;
  width: 100%;
  background: #8464EE;
}
 
#text{
  width: 100%;
  height: 860px;
  background: #408ff4;
}
 
#backheader{
  padding: 20px;
  width: 100%;
  height: 30px;
  background: #9bdbf4;
}
#backheader a{
  text-decoration: none;
  margin-left: 20px;
 
}
 
/* CSS Library */
 
 
 
/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

/* ====== Form ====== */

#maps form{
  
  background-color:#E4E4E4; 
  display: inline-block;
}

/* ====== Maps ====== */
#maps{
  height: 450px;
  width: 100%;
  background: #EEE364;
}

#map{
  height: 400px;
  width: 40%;
  margin: 20px;
  border-radius: 20px;
  float: left;
  
}

#floating-panel{
  background-color: #D6D6D6;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

#adressActu{
  background-color: #D6D6D6;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display:inline-block;
}

#adresspage{
   background-color: #D6D6D6;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  display:inline-block;
=======

/*

=====Formatting popup Testimonial=====

*/
form{
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px dotted #CCC;
}
form.selectAvatar input[type="file"]{
  margin-top: 5px;
  color: white;
  background-color: #39C7B7;
  border-radius: 10px;
  border-style: none;
  width: 8em;
  height: 2em;
}
form.selectAvatar input[type="file"]:hover{
  background-color: #54C7A1;  
  box-shadow: 5px 5px 30px 0px #CCCCCC;
}




form.testitext input[type="submit"]{
  margin-top: 5px;
  color: white;
  background-color: #39C7B7;
  border-radius: 10px;
  border-style: none;
  width: 8em;
  height: 2em;
}
form.testitext input[type="submit"]:hover{
  background-color: #54C7A1;  
  box-shadow: 5px 5px 30px 0px #CCCCCC;
}


input[type="submit"]{
  margin-top: 5px;
  color: white;
  background-color: #54C739;
  border-radius: 10px;
  border-style: none;
  width: 8em;
  height: 2em;
}
input[type="submit"]:hover{
  background-color: #54C739;  
  box-shadow: 5px 5px 30px 0px #CCCCCC;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
>>>>>>> a34a12be5a34fb4cb67ee2024fa8a397f8cfc825
}