
#gallery{
  /* The pics container */
  width:100%;
  height:580px;
  background: #E3E3E3;
  margin: auto;
}

#album{
  height: 580px;
}

.pic, .pic a{
  /* Each picture and the hyperlink inside it */
  width:100px;
  height:100px;
  overflow:hidden;  
}

.pic{
  /* Styles specific to the pic class */
  
  border:5px solid #EEEEEE;
  border-bottom:18px solid #eeeeee;
  
  /* CSS3 Box Shadow */
  -moz-box-shadow:2px 2px 3px #333333;
  -webkit-box-shadow:2px 2px 3px #333333;
  box-shadow:2px 2px 3px #333333;
}

.pic a{
  /* Specific styles for the hyperlinks */
  text-indent:-999px;
  display:block;
  /* Setting display to block enables advanced styling for links */
}

.drop-box{
  /* The share box */
  width:240px;
  height:130px;
  position:absolute;
  bottom:0;
  right:0;
  z-index:0;
  
  background:url(img/drop_box.png) no-repeat;
}

.drop-box.active{
  /* The active style is in effect when there is a pic hovering above the box */
  background-position:bottom right;
}

label, input{
  /* The modal dialog URL field */
  display:block;
  padding:3px;
}

label{
  font-size:10px;
}

fieldset{
  border:0;
  margin-top:10px;
}

#url{
  /* The URL field */
  width:240px;
}


#orig{
  /* The link that is positioned above the title */
  font-family:"MyRiad Pro",Arial;
  font-size:10px;
  letter-spacing:1px;
  padding-bottom:15px;
  text-transform:uppercase;
  float:right;
}

hr{
  /* The horizontal ruler */
  background-color:#BBBBBB;
  border:medium none;
  color:#BBBBBB;
  height:1px;
  margin:30px auto;
  width:450px;
}

.clear{
  /* The clearfix hack */
  clear:both;
}

.container{
  /* The main container */
  width:1360px;
  margin: auto;
}

h1{
	text-transform: uppercase;
}

header{
	margin: auto;
	width: 100%;
  height: 120px;
}

header nav h1 {
  margin-left: 25px;
}

.container{
	width: 1360px;
}

.emptybg{
	background: none;
	border:none;
}
.form-signin{
  margin-top: 150px;
}
.form-signin input{
  text-align: center;
  margin-bottom: 20px;
}
.form-signin h2{
  text-align: center;
}





#loginform{
  width: 50%;
}

#testimoniaux{
	height: 450px;
	width: 100%;
	background: #8464EE;
}

#text{
  width: 100%;
  height: 860px;
  background: #408ff4;
}

#backheader{
  padding: 20px;
  width: 100%;
  height: 30px;
  background: #9bdbf4;
}
#backheader a{
  text-decoration: none;
  margin-left: 20px;
}

/* CSS Library */ 



/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 



====== "Hinge" close effect ======

*/
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}
.hinge {
  animation-duration: 1s;
  animation-name: hinge;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}

/* preview styles */
html {
  font-family: "Calibri", "Trebuchet MS", "Helvetica", sans-serif;
}

h3 {
  margin-top: 0;
  font-size: 24px;
}

a,
a:visited {
  color: #1760bf;
  text-decoration: none;
}

a:hover {
  color: #408ff4;
}

.links li {
  margin-bottom: 5px;
}

h4 {
  margin: 24px 0 0 0;
}

.bottom-text {
  margin-top: 40px;
  border-top: 2px solid #CCC;
}
.bottom-text a {
  border-bottom: 1px solid #CCC;
}
.bottom-text p {
  max-width: 650px;
}

form{
  width: 100%;
  background: rgba(97,97,97,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(97,97,97,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#000000', GradientType=1 );
  margin: auto; 
  border-radius: 1em;
  color: #D3D3D3;
}


#contact{
  width: 100%;
  height: 53em;
  background-color: #A5A5A5;
  padding-top: 2em;
  margin: auto;
}

#contact textarea{
  width: 80%;
  margin-left: 4em;
  margin-right: 2em;
  height: 10em;
}

form:hover{
  box-shadow: 1em 1em 1em ;
}

#contact label{

  padding: 2%;
  font-size: 1.5em;
}

#contact input{
margin: auto;
margin-left: 4em;
margin-right: 2em;
}

.form-control{
  width: 90%;
}

.btn{
  margin-left: 4em;
  margin-bottom: 3em;
}

@media screen and (min-width:768px) and (max-width:1024px ) {

      form{
      width: 65%;
      background: rgba(97,97,97,1);
      background: -moz-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(97,97,97,1)), color-stop(100%, rgba(0,0,0,1)));
      background: -webkit-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      background: -o-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      background: radial-gradient(ellipse at center, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#000000', GradientType=1 );
      margin: auto;
     
      border-radius: 1em;
      color: #D3D3D3;
    }
    
    
    #contact{
      width: 100%;
      height: 53em;
      background-color: #A5A5A5;
      padding-top: 2em;
      margin: auto;  
    }
    
    #contact textarea{
      width: 80%;
      margin-left: 4em;
      margin-right: 2em;
      height: 10em;
    }
    
    form:hover{
      box-shadow: 1em 1em 1em ;
    }
    
    #contact label{
    
      padding: 1%;
      font-size: 1.5em;
    }
    
    #contact input{
    margin: auto;
    margin-left: 4em;
    margin-right: 2em;
    }
    
    .form-control{
      width: 80%;
    }
    
    .btn{
      margin-left: 4em;
      margin-bottom: 3em;
    }
}

@media screen and (max-width:768px){
  
    form{
      width: 50%;
      background: rgba(97,97,97,1);
      background: -moz-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(97,97,97,1)), color-stop(100%, rgba(0,0,0,1)));
      background: -webkit-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      background: -o-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      background: radial-gradient(ellipse at center, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#000000', GradientType=1 );
      margin: auto;
      border-radius: 1em;
      color: #D3D3D3;
    }


    #contact{
      width: 100%;
      height: 53em;
      background-color: #A5A5A5;
      padding-top: 2em;
      margin: auto;  
    }

    #contact textarea{
      width: 80%;
      margin-left: 4em;
      margin-right: 2em;
      height: 10em;
    }
    
    form:hover{
      box-shadow: 1em 1em 1em ;
    }
    
    #contact label{
    
      padding: 1%;
      font-size: 1.5em;
    }
    
    #contact input{
    margin: auto;
    margin-left: 4em;
    margin-right: 2em;
    }
    
    .form-control{
      width: 80%;
    }
    
    .btn{
      margin-left: 4em;
      margin-bottom: 3em;
    }
}

